body {
  background-color: darkseagreen;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 45px;
  color: bisque;
}
button {
  background-color: darkorange;
  color: whitesmoke;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
#loop, #result, #list, #constant, #greeting, #carObj, #breakStatement, #continueStatement {
  color: firebrick;
  font-weight: 400;
}